body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

img {
  height: auto;
  width: 300px;
}

.first-container,
.second-container,
.third-container,
.fourth-container,
.fifth-container {
  padding: 10px 350px;
}

.first-container,
.fifth-container {
  background-color: #1f2937;
}

.first-container .header {
  display: flex;
  justify-content: space-between;
}

.header {
  margin-bottom: 100px;
}

.hero-secondary-text,
.header-links,
a {
  color: #e5e7eb;
  font-size: 18px;
}

.header-links,
a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 20px;
}

.header-link,
.header-logo {
  list-style: none;
}

.header-logo {
  text-decoration: none;
  color: #f9faf8;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  flex: 1;
}

.img-placeholder {
  background-color: gray;
  width: 550px;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

button {
  border-radius: 5px;
  color: white;
  background-color: #3882f6;
  padding: 5px 30px;
}

.hero-button {
  border: solid 1px #3882f6;
}

.second-header {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.second-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.image {
  flex: 1;
  text-align: center;
}

.third-container {
  background-color: #e5e7eb;
  display: flex;
  flex-flow: column;
}

.third-container-quote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 0;
  padding: 100px;
}

.quoter {
  align-self: flex-end;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 40px;
}

.fourth-call-to-action {
  display: flex;
  background-color: #3882f6;
  padding: 40px 100px;
  margin: 90px 0;
  border-radius: 7px;
}

.fourth-header {
    font-weight: bold;
    font-size: large;
}

.fourth-header, 
.fourth-text {
    color: white;
    margin: 0;
}

.fourth-text {
    color: #e5e7eb;
    font-weight: 100;
}

.fourth-button {
  margin-left: auto;
  align-self: center;
  border: #e5e7eb solid;
}
